{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">    
    <h1>BUSINESS MAN</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/photo1.jpg" alt="product image">
            </div>
            <div class="itemname">sundar pichai</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/photo 2.jpg"  alt="product image">
            </div>
            <div class="itemname">jack ma</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/photo3.jpg"  alt="product image">
            </div>
            <div class="itemname">steve jobs</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/photo4.jpg"  alt="product image">
            </div>
            <div class="itemname">mukesh ambony</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/photo5.jpg"  alt="product image">
            </div>
            <div class="itemname">bernand arnault</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/photo6.jpg"  alt="product image">
            </div>
            <div class="itemname">warren buffet</div>
        </div>

    </div>
    </div>
{% endblock %}        

