{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/sata ssd.jpg"  alt="product image">
            </div>
            <div class="itemname">wd green 240 gb 2.5 inch sata III internal solid state drive</div>
            <div class="itemprice">Price: Rs.2300.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/optical.jpg"  alt="product image">
            </div>
            <div class="itemname">optical sensor</div>
            <div class="itemprice">Price: Rs.4150.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/wireless network.jpg"  alt="product image">
            </div>
            <div class="itemname">wireless network</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/switch.jpg"  alt="product image">
            </div>
            <div class="itemname">switch</div>
            <div class="itemprice">Price: Rs.50.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/silicon battery.jpg"  alt="product image">
            </div>
            <div class="itemname"> silicon battery</div>
            <div class="itemprice">Price: Rs.50.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/silicon michrochip.jpg"  alt="product image">
            </div>
            <div class="itemname"> siicon michrochip</div>
            <div class="itemprice">Price: Rs.1560.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/watch.jpg"  alt="product image">
            </div>
            <div class="itemname">silicon watch</div>
            <div class="itemprice">Price: Rs.560.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/silicon gun.jpg"  alt="product image">
            </div>
            <div class="itemname">siicon gun</div>
            <div class="itemprice">Price: Rs.120.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/silicon wafer.jpg"  alt="product image">
            </div>
            <div class="itemname">siicon wafer</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/silicon wire.jpg"  alt="product image">
            </div>
            <div class="itemname">siicon wire</div>
            <div class="itemprice">Price: Rs.20.00 </div>
        </div>
    </div>
    </div>
{% endblock %}    


















